
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
         
            <div class="form-group">
              <label for="empname">Emp Name :</label>
              <input
                type="text"
                id="empname"
                class="form-control"
                ngModel
                name="empname"
                required>
            </div>
            
            <div class="form-group">
              <label for="empid">Emp Id :</label>
              <input
                type="text"
                id="empid"
                class="form-control"
                ngModel
                name="empid"
                required
                
                #empid="ngModel">
            </div>
           
     
          <div class="form-group">
            <label for="Projname">Project Name :</label>
            <select
              id="Projname"
              class="form-control"
              [ngModel]="defaultQuestion"
              name="Projname">
              <option value="Demo1">Demo1</option>
              <option value="Demo2">Demo2</option>
              <option value="Demo4">Demo3</option>
              <option value="Demo5">Demo4</option>
              <option value="Demo6">Demo5</option>
              <option value="Demo7">Demo6</option>
            </select>
            
          </div>
          <div class="form-group">
            <label for="secret">Select Rating </label>  
            <star-rating value="0" 
            checkedcolor="black" 
            uncheckedcolor="grey" 
            size="24px"    
            readonly="false" (rate)="onRate($event)">
          </star-rating>
          </div>
          <div class="form-group">
              <label for="questionAnswer">Comments :</label>
            <textarea
              name="comments"
              rows="3"
              class="form-control"
              [(ngModel)]="answer"></textarea>
          </div>
          <p>Your reply: {{ answer }}</p>
          
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!f.valid">Submit</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row" *ngIf="submitted">
      <p>Data submitted to details tab</p>
    </div>
  </div>